/*Formatação do corpo*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #5d5d61;
}

body main article p {
    text-indent: 10px;
}

ul#gie li{
    list-style: none;
    padding: 9px;
}

body main header img#prin {
    position: relative;
    margin-top: -55px;
}

body main article#artigo {
    margin-top: -40px;
}

body main  header article {
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
}

main {
    background-color: rgba(255, 255, 255, 0.733);
    width: 890px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

/*Formatação das letras*/

h1 {
    margin-top: 5px;
    font-family: 'Sniglet', cursive;
    text-align: center;
    font-size: 40pt;
    color: rgb(25, 114, 117);
}

h2 {
    text-indent: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 2em;
    color: rgb(25, 114, 117);
}

a {
    font-family: 'Sniglet', cursive;
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Sniglet', cursive;
}

/*Formatação das Redes Sociais*/

article#img { 
    display: flex;
    align-items: center;
}

article#img span {
    margin: 2px;
}

article#img span.msg {
    margin-bottom: -6px;
}
/* Formatação dos Certificados */

legend {
    position: relative;
    margin: 0px 100px;
    display: flex; 
    cursor: pointer;
}   

.img-edit img.litlle {
    width: 290px;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    -webkit-transition: all 2s;
}

.img-edit .big {
    width: 793px;
    height: 525px;
    position: fixed;
    top: 40px;
    margin-left: 55px;
    border: 2px solid black;
    display: none;
}

.img-edit #grand {
    top: 40px;
    margin: 0 0 0 -400px;
}

.img-edit #GD {
    top: 40px;
    margin-left: -70px;
}

#back {
    background-color: rgba(0, 0, 0, 0.473);
}

.litlle:hover ~ .big {
    display: block;
}
